.full {
    height: 80%;
}

html, body {
    height: 100%;    
}
body {
    background-image: url("/apps/together/images/gradient-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#chatbox
{
    height: 400px;
    overflow-y: auto;
}
#topics
{
    height: 390px;
    overflow-y: auto;
}
.textbubble
{
    width: 100%;
}
.nomargin
{
	margin-right:0;
	margin-left:0;
	padding-left:0;
	padding-right:0;
}
.onlineIcon
{
    margin-right:0;
    padding-right:0;
}
.button
{
    width: auto;
    height: auto;
}
.fullWidth
{
    width: 100%;
}
.video-container
{   
    position: relative;
}
.brand-logo
{
    position: relative;
    left: 1em;
}
.up_down_vote
{
    position: absolute;
    right: 1em;
}
.message
{
    position: absolute;
    left: 1em;
}

